.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-small);
  background-color: var(--grey-light);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 9;
  transition: transform var(--timing-quick);
}

.header .header-logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  font-weight: bold;
  font-size: 1.7rem;
  color: var(--brand-colour);
  text-decoration: none;
}
