<!DOCTYPE html>
<html>
  <head>
    {{> meta.hbs title="My cool website page 2" description="This is a cool website." }}
  </head>
  <body>
    {{> header.hbs }}

    <div id="root" data-router-root>

      <main class="view index-view">
        <p>I&apos;m another page</p>

        <p>{{content}}</p>
      </main>

      {{> footer.hbs }}
    </div>
  </body>
</html>
